services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    ports:
      - "8000:80"
    networks:
      - test-net
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "8080:80" 
    networks:
      - test-net
    depends_on:
      - mysql

  mysql:
    build:
        dockerfile: database.Dockerfile
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
     
    volumes:
      - databaseVolume:/var/lib/mysql
    networks:
      - test-net

networks:
  test-net:

volumes:
  databaseVolume: